body {
  margin: 0;
  padding: 0;
}

Header {
  text-align: center;
}
Header a {
  text-decoration: none;
  color: rgb(113, 148, 177);
}

Nav ul, Nav li {
  list-style: none;
  display: flex;justify-content: space-around;
  padding: 0;
  background-color: rgb(239, 255, 255);
}

Nav a{
  display: block;
  text-decoration: none;
  color: rgb(113, 148, 177);
  padding: 20px 0;
}

Article {
  text-align: center;
  color: rgb(7, 41, 65);
  border: 1px solid rgb(7, 41, 65);
  margin: 0 50px;
  padding: 50px 0;
}

.btn {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 5px 22%;
  padding: 10px 0;
  background-color: rgb(165, 190, 204);
  border: 1px solid rgb(7, 41, 65);
  color: white;
  width: 50%;
}

ul, li{ 
  list-style: none;}

a{
  text-decoration: none;
}